<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>

  <connectionStrings>
    <add name="TestHealthDB" connectionString="Data Source=TestHealth.db3;Version=3" />
  </connectionStrings>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
      <property name="connection.connection_string_name">TestHealthDB</property>
      <property name="hbm2ddl.auto">create</property>
      <mapping assembly="HealthTracker.Data" />
    </session-factory>
  </hibernate-configuration>
</configuration>